<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Plague's Game List</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
      rel="stylesheet"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      body {
        font-family: "Oswald";
      }
    </style>
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <div class="flex flex-col gap-20 align-center items-center bg-[#090909]">
      <a href="https://www.twitch.tv/plaguezaddy" target="_blank">
        <img
          class="w-96 mt-16"
          src="https://res.cloudinary.com/ddz9c0wp9/image/upload/v1730331571/purple-ghost-transparent_xpsiwv.png"
          alt="Logo"
        />
      </a>
      <h1 class="text-3xl text-purple-100">Completed Games</h1>
      <div class="grid grid-cols-4 align-center gap-8">
        {{range .Game}} {{if .IsCompleted}}
        <article class="card w-64">
          <a href="{{.Link}}" target="_blank">
            <img
              class="self-center rounded-md"
              src="{{.BoxArt}}"
              alt="{{.Name}}"
            />
          </a>
        </article>
        {{end}} {{end}}
      </div>
      <h1 class="text-3xl text-purple-100">Games in Queue</h1>
      <div class="grid grid-cols-4 align-center gap-8">
        {{range .Game}} {{if not .IsCompleted}}
        <article class="card w-64">
          <a href="{{.Link}}" target="_blank">
            <img
              class="self-center rounded-md"
              src="{{.BoxArt}}"
              alt="{{.Name}}"
            />
          </a>
        </article>
        {{end}} {{end}}
      </div>
    </div>
  </body>
</html>
